@font-face {
    font-family: "FatFrank";
    src: url("../assets/fonts/FatFrank/FatFrank-Regular.otf") format("opentype");
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
	box-sizing: border-box;
}

body {
    text-align: left;
    font-family: "Roboto", sans-serif;
}

.wrapper {
    background-color: #ffffff;
    color: #000000;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

header.primary {
    background-color: #007eff;
    color: #ffffff;
	width: 100%;
	margin: 0 auto;
	padding: 1rem;
    position: fixed;
    top: 0;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

header.primary nav {
	display: grid;
	grid-template-areas: 'heading nav-buttons';
}

header.primary span.heading {
	font-size: 1.5rem;
	margin: auto 0rem;
	grid-area: heading;
	justify-self: start;
}

header.primary span.heading img {
	height: 3rem;
}

header.primary a.nav-link {
	color: #fff;
}

a.nav-link {
	text-decoration: none;
}

.nav-buttons {
	margin: auto 0rem;
	list-style: none;
	grid-area: nav-buttons;
	justify-self: end;
}

.nav-buttons li {
	display: inline-block;
	margin: 0.5em 1.25em;
}

.nav-buttons li a.nav-link {
	color: #fff9fa;
    font-size: 1.75rem;
    font-weight: bold;
	-webkit-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

.nav-buttons li a.nav-link:hover {
	color: #ffffff;
	opacity: 1;
}

.submit-button {
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #ffffff;
    color: #007eff;
    font-size: 1rem;
    font-weight: bold;
    width: 6rem;
    height: 3rem;
    display: block;
    margin: 1rem auto;
    cursor: pointer;
}

hr.short {
    width: 5.25rem;
}

article span.orange-heading {
    color: #ff5200;
    font-size: 2.5em;
    font-weight: bold;
    margin: 0.5rem 0rem;
    display: block;
}

article span.orange-subheading {
    color: #ff5200;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5rem 0rem;
    display: block;
}

article span.heading {
    font-size: 2rem;
    font-weight: bold;
    margin: 0.5rem 0rem;
    display: block;
}

article span.subheading {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.5rem 0rem;
    display: block;
}

article span.caption {
    font-size: 1.375rem;
    font-weight: 400;
    margin: 1.5rem 0rem;
    display: block;
}

div.content {
    font-weight: 400;
}

a {
    color: #ffffff;
}

input.image-input {
    /* opacity: 0; */
    outline: none;
    position: relative;
    left: 0;
    top: 0rem;
}

label.image-upload {
    border: none;
    border-radius: 30px;
    outline: none;
    background-color: #0082ff;
    color: #ffffff;
    width: 14rem;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 3rem;
    display: block;
    cursor: pointer;
}

button {
    border: none;
    border-radius: 30px;
    outline: none;
    background-color: #0082ff;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 3rem;
    display: block;
    cursor: pointer;
}

button img {
    height: 0.7rem;
}

button.orange {
    background-color: #ff5200;
}

button.gray {
    background-color: #cdcdcd;
    color: #ffffff;
}

button.orange-text {
    background-color: transparent;
    color: #ff5200;
    padding: 0.5rem 0rem;
}

button.blue-text {
    background-color: transparent;
    color: #0082ff;
    padding: 0.5rem 0rem;
}

button.red-text {
    background-color: transparent;
    color: #ff004c;
    padding: 0.5rem 0rem;
}

button.tag {
    background-color: #ff5200;
    display: inline-block;
    cursor: default;
}

button.image-upload {
    margin: 0;
}

button.blue-plus {
    background-color: transparent;
    width: 1rem;
    height: 1rem;
    margin: 0rem;
    padding: 0rem;
}

button.blue-plus img {
    height: 1.5rem;
}

button.red-x {
    background-color: transparent;
    width: 1rem;
    height: 1.5rem;
    margin: 0rem;
    padding: 0rem;
}

button.red-x img {
    height: 1rem;
}

button.close {
    background-color: transparent;
    color: #8d8e8e;
    margin: 0rem;
    padding: 0rem;
}

.radio-button .radio-button-option {
    box-shadow: 0px 1px 4px rgba(0, 10, 102, 0.46);
    border: none;
    border-radius: 30px;
    outline: none;
    background-color: #ffffff;
    color: #979797;
    min-width: 11rem;
    margin-right: -2rem;
    padding: 0.5rem 3rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.radio-button .radio-button-option.active {
    border-radius: 30px;
    border-bottom: 1px solid #0082ff;
    background-color: #0082ff;
    color: #ffffff;
    z-index: 10;
}