.portal-menu-item-form-type-section {
  grid-area: type;
}

.potal-menu-item-form-name-section {
  grid-area: name;
}

/* .portal-menu-item-form-price-section {
  grid-area: price;
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-areas: "heading heading"
                       "label input";
}

.portal-menu-item-form-price-section span.subheading {
  grid-area: heading;
}

.portal-menu-item-form-price-section label {
  grid-area: label;
}

#menu-item-price-input {
  width: 100%;
  grid-area: input;
} */

.portal-menu-item-form-description-section {
  grid-area: description;
}

.portal-menu-item-form-tags-section {
  grid-area: tags;
}

.portal-menu-item-form-image-section {
  grid-area: image;
}

.portal-menu-item-form-toppings-section {
  grid-area: toppings;
  display: flex;
  gap: 2rem;
}

.portal-menu-item-form-toppings-container img {
  height: 1rem;
  margin: 0rem 0.25rem;
  cursor: pointer;
}

.portal-menu-item-form-toppings-container {
  display: inline-block;
  flex-grow: 1;
}

.portal-menu-item-form-toppings-options-container span.subheading {
  font-size: 1.5rem;
  margin-bottom: 0rem;
}

.portal-menu-item-form-toppings-options-container div {
  display: block;
}

.portal-menu-item-form-toppings-options-container div button.red-x {
  display: inline-block;
  margin-right: 1rem;
}

.portal-menu-item-form-toppings-options-container div button.red-x img {
  vertical-align: bottom;
}

.portal-menu-item-form-toppings-options-container div input.text-input {
  margin: 0.75rem 0rem;
  display: inline-block;
  /* width: 90%; */
}

.portal-menu-item-form-toppings-container div select.dropdown-input {
  display: inline-block;
  width: 100%;
}

.portal-menu-item-form-toppings-options-container button.blue-text {
  margin: 0.75rem 0rem;
  padding: 0rem;
  display: block;
}

.portal-menu-item-form-toppings-options-container button.blue-text span {
  font-size: 1.5rem;
  vertical-align: middle;
  font-weight: 700;
}

#add-category-button {
  text-align: left;
}

.portal-category-form-container {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #979797;
  border-radius: 30px;
  background-color: #ffffff;
  position: absolute;
  top: 40%;
  left: 30%;
  padding: 1rem 3rem 2rem 3rem;
}

.portal-category-form {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 2fr 1fr;
}

.portal-category-form input, .portal-category-form button {
  margin: 0.25rem 0rem;
}

.portal-category-form-container button.close {
  position: absolute;
  top: 0.5rem;
  left: 1.25rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.portal-menu-list-container, .portal-rewards-list-container {
  text-align: left;
}

.portal-menu-list-container div.content, .portal-rewards-list-container div.content {
  margin-left: -1rem;
}

.portal-menu-list-container .blue-heading, .portal-rewards-list-container .blue-heading {
  color: #0082ff;
  font-size: 2rem;
  font-weight: 700;
  display: block;
  padding-right: 1rem;
}

.portal-menu-list-container .blue-heading {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.portal-menu-list-container .blue-heading span:nth-of-type(2) {
  text-align: right;
}

.portal-menu-list-container .menu-item-container, .portal-rewards-list-container .reward-container {
  margin: 0.5rem;
  margin-left: -1rem;
  padding: 0rem 1rem 0.5rem 1rem;
  display: grid;
  grid-template-columns: 5fr 2fr;
  cursor: pointer;
}

.portal-menu-list-container .menu-item-container.active, .portal-rewards-list-container .reward-container.active {
  border-radius: 20px;
  background-color: #0082ff;
  color: #ffffff;
}

.portal-menu-list-container .menu-item-container span.subheading:nth-of-type(2), .portal-rewards-list-container .reward-container span.subheading:nth-of-type(2) {
  text-align: right;
}

.portal-menu-list-container div.content, .portal-rewards-list-container div.content {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-column-gap: 5rem;
}

.portal-menu-list, .portal-rewards-list {
  height: 30rem;
  padding-left: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.portal-menu-view, .portal-rewards-view {
  display: flex;
  align-items: center;
}

.portal-menu-view-buttons, .portal-rewards-view-buttons {
  margin: 2rem 1rem;
  text-align: center;
}

.portal-menu-view button, .portal-rewards-view button {
  margin-left : 0rem;
  margin-top: 2rem;
}