#vendor-info-button-section, #portal-settings-form-submit-section {
  /* grid-area: submit; */
  text-align: right;
}

.portal-vendor-info-container {
  text-align: left;
}

.portal-vendor-info-container button.tag {
  margin-right: 1rem;
}

.vendor-info-sections-container {
  padding: 3rem 0rem;
  display: grid;
  grid-gap: 2rem 10rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "location hours"
                       "contact hours"
                       "none button";
}

.vendor-info-section {
  display: grid;
  grid-template-columns: 3rem 6fr;
}

.vendor-info-section img {
  margin: 0.5rem 0rem;
}

#vendor-location-info-section {
  grid-area: location;
}

#vendor-contact-info-section {
  grid-area: contact;
}

#vendor-contact-info, #vendor-hours-info div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#vendor-contact-info span:nth-of-type(even), #vendor-hours-info div span:nth-of-type(even) {
  text-align: right;
}

#vendor-hours-info-section {
  grid-area: hours;
}

#vendor-info-button-section button {
  grid-area: button;
}

.portal-settings-form-container {
  max-height: 95vh;
  padding-left: 2px;
  padding-right: 3rem;
  text-align: left;
  overflow-y: scroll;
}

.portal-vendor-info-form {
  display: grid;
  grid-gap: 1rem 3rem;
  grid-template-columns: 2fr 3fr;
  grid-template-areas: "name hours"
                       "tags hours"
                       "description hours"
                       "address phone"
                       "contact email";
}

#portal-settings-form-name-section {
  grid-area: name;
}

#portal-settings-form-tags-section {
  grid-area: tags;
}

#portal-settings-form-description-section {
  grid-area: description;
}

#portal-settings-form-hours-section {
  grid-area: hours;
}

#portal-settings-form-hours-section div {
  color: #afb0b1;
  margin: 1rem 0rem;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

#portal-settings-form-hours-section div span {
  color: #8d8e8e;
  font-size: 1.5rem;
  font-weight: 400;
  display: inline-block;
}

#portal-settings-form-hours-section div span:nth-of-type(2) {
  text-align: right;
}

#portal-settings-form-hours-section input.number-input {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  outline: none;
  border: none;
  color: #979797;
  width: 1.5rem;
  height: 2.375rem;
  margin: 0rem 0.25rem;
  padding: 0rem 0.25rem;
  font-family: Roboto;
  font-size: 1.25rem;
}

#portal-settings-form-hours-section .am-pm-radio {
  margin: 0rem 0.25rem;
  display: inline-block;
  vertical-align: middle;
}

#portal-settings-form-hours-section span.hyphen {
  margin: 0rem 1rem;
}

#portal-settings-form-hours-section .am-pm-radio-option {
  color: #cdcdcd;
  font-size: 1rem;
  display: block;
  cursor: pointer;
  font-weight: 900;
}

#portal-settings-form-hours-section .am-pm-radio-option.active {
  color: #0082ff;
}

#portal-settings-form-address-section {
  grid-area: address;
}

#portal-settings-form-phone-section {
  grid-area: phone;
}

#portal-settings-form-contact-section {
  grid-area: contact;
}

#portal-settings-form-email-section {
  grid-area: email;
}

#portal-settings-form-submit-section button.orange-text {
  margin: 3rem 2rem;
}