.portal-terms-container .terms-of-service-container {
  border: 2px solid #e1e1e1;
  border-radius: 20px;
  width: 95%;
  height: 60vh;
  text-align: left;
  margin: 1rem auto;
  padding: 1rem 2rem;
  overflow-y: scroll;
}

.portal-terms-container button, .portal-promotions-container button {
  margin: 3rem auto;
}