.divider {
  width: 100%;
  height: 4px;
  border-width: 0px;
  background-color: #000000;
  margin: 20px 0px 20px 0px;
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item-name {
  font-family: 'Cabin';
  font-size: 48px;
  font-weight: 500;
  color: #000000;
}

.item-option-name {
  font-family: 'Cabin';
  font-size: 36px;
  font-weight: 500;
  color: #000000;
}

.item-price {
  font-family: 'SourceCodePro';
  font-size: 48px;
  font-weight: 500;
  color: #000000;
}

.item-name-gray {
  font-family: 'Cabin';
  font-size: 48px;
  font-weight: 500;
  color: #747474;
}

.item-price-gray {
  font-family: 'SourceCodePro';
  font-size: 48px;
  font-weight: 500;
  color: #747474;
}

.item-name-left {
  font-family: 'Cabin';
  font-size: 48px;
  font-weight: 500;
  color: #000000;
  align-self: flex-start;
}

.item-name-left-small {
  font-family: 'Cabin';
  font-size: 36px;
  font-weight: 500;
  color: #000000;
  align-self: flex-start;
}

.item-name-left-big {
  font-family: 'Cabin';
  font-size: 56px;
  font-weight: 700;
  color: #0082FF;
  align-self: flex-start;
  margin: 10px 0px 10px 0px;
}

.time-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.time-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 120px;
  border-radius: 10px;
  background-color: #0082FF;
  margin: 20px 0px 20px 0px;
  cursor: pointer;
}

.time-container div span {
  font-family: 'Cabin';
  font-size: 64px;
  font-weight: 700;
  color: #FFFFFF;
}

.selected-order-container {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.split-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 10px 0px 10px 0px;
}

.orderer-name {
  font-family: 'Raleway';
  font-size: 64px;
  font-weight: 900;
  color: #000000;  
}

.order-date {
  font-family: 'Cabin';
  font-size: 36px;
  font-weight: 700;
  color: #747474;
}

.portal-orders-subcontainer {
  height: 100vh;
  margin: 0rem -4rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
} 

.orders-list {
  border-right: 4px solid #747474;
  text-align: left;
  padding: 60px 30px;
}

.party-orders-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.group-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.down-arrow-button {
  margin-right: 20px;
}

.party-orders-container span {
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 36px;
  color: #747474;
}

.party-orders-container span.viewed {
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 36px;
  color: #0082FF;
}

.party-orders-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.party-orders-list p {
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 36px;
  color: #747474;
}

.party-orders-list p.selected {
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 36px;
  color: #0082FF;
}

.party-orders-list p.viewed {
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 36px;
  color: #0082FF;
}

.orders-list header {
  border-bottom: 5px solid #f2f2f2;
  padding: 1.25rem;
}

.orders-list header button.tag.orange {
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.orders-list header button.tag.red {
  padding: 0.35rem 2rem;
  cursor: pointer;
}

.orders-list header button.tag span.x {
  font-size: 1.5rem;
  vertical-align: middle;
  padding-left: 0.25rem;
  padding-right: -0.25rem;
}

.orders-list .order-category-container {
  max-height: 23vh;
  overflow-y: scroll;
}

.orders-list .order-category {
  background-color: #f2f2f2;
  color: #8d8e8e;
  width: 100%;
  display: block;
  padding: 0.5rem 2rem;
  font-size: 1.75rem;
  font-weight: 500;
}

.orders-list .order-container {
  border-bottom: 1px solid #e1e1e1;
  background-color: #ffffff;
  color: #979797;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.75rem 2rem;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
}

.orders-list .order-container.active {
  background-color: #979797;
  color: #ffffff;
}

.orders-list .order-container span:nth-of-type(2) {
  text-align: right;
}

.orders-list .order-container button {
  display: inline-block;
  padding: 0.25rem 1rem;
}

.orders-list .order-container.active button {
  background-color: #cdcdcd;
  color: #979797;
}

.orders-list .empty-order-container {
  border-bottom: 1px solid #e1e1e1;
  background-color: #ffffff;
  color: #cdcdcd;
  width: 100%;
  padding: 0.75rem 0rem 0.75rem 2rem;
  font-size: 1.25rem;
}

.portal-orders-info header {
  border-bottom: 5px solid #e6e6e6;
  height: 7.5rem;
  padding: 1.4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.portal-orders-info header span.blue-subheading {
  color: #0082ff;
}

.order-details {
  height: 85vh;
  padding: 2rem 6rem;
  text-align: left;
  overflow-y: scroll;
}

.order-details .order-delivery-time button {
  margin: 0rem 1rem;
}

.order-details .order-delivery-time span.blue-subheading {
  color: #0082ff;
  font-size: 1.75rem;
  font-weight: 500;
}

.order-details .order-item, .order-details .order-tax-tip, .order-details .order-total {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem 0rem;
  font-size: 1.75rem;
  font-weight: 500;
}

.order-details span.red-subheading {
  color: #ff004c;
  font-size: 1.75rem;
  font-weight: 500;
}

.order-details .order-item-toppings {
  margin: 0rem;
  padding-left: 1.5rem;
}

.order-details .order-item-toppings li {
  font-size: 1.5rem;
}
.order-details .order-item-price {
  text-align: right;
}

.order-details .order-total {
  color: #ff5200;
}

.order-details .order-instructions {
  margin: 2rem 0rem;
}

.order-details button {
  margin: 1rem 3rem;
  display: inline-block;
}

.order-details hr {
  border: none;
  background-color: #e1e1e1;
  height: 1px;
  margin-left: 0rem;
}