.portal-container {
  color: #8d8e8e;
  background: url("../assets/images/toppings-print-white-gradient-transparent.PNG") no-repeat center;
  background-size: cover;
  height: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4.5fr;
  display: block;
  position: relative;
}

.portal-container nav {
  border-radius: 30px;
  background-color: #007eff;
  background: url("../assets/images/toppings-print-blue-gradient.PNG") no-repeat center;
  background-size: cover;
  color: #ffffff;
  height: 100%;
  float: left;
  margin-left: -30px;
  padding: 30vh 1.75rem 1rem 0rem;
  text-align: left;
  z-index: 100;
}

.portal-container .portal-toppings-logo {
  height: 4.5rem;
  margin: 1rem 0rem 1rem 50px;
}

.portal-container ul.nav-buttons {
  padding: 0;
}

.portal-container ul.nav-buttons li {
  display: block;
  margin: 0;
}

.portal-nav-option {
  border-radius: 30px;
  border: 1px solid transparent;
  width: 101%;
  height: 2rem;
  display: block;
  margin: 1.25rem 0rem;
  padding: 0.25rem 1rem 0.25rem 5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  vertical-align: middle;
}

.portal-nav-option.active {
  border: 1px solid #ffffff;
}

.portal-nav-option img {
  height: 1.25rem;
  margin-top: -2px;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.portal-container ul.nav-buttons li a {
  text-decoration: none;
}

.portal-container ul.nav-buttons li:nth-of-type(1) img {
  height: 1.5rem;
}

.portal-container main {
  display: flex;
  text-align: center;
  align-items: center;
}

.portal-container article {
  width: 100%;
  padding: 0rem 4rem;
  padding-bottom: 0rem;
  text-align: center;
}

.portal-container main {
  display: flex;
  align-items: center;
  height: 100%;
}

.portal-container input.text-input, .portal-container textarea.text-input {
  outline: none;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 1px 4px #979797;
  color: #979797;
  padding: 0.5rem 0.875rem;
  resize: none;
  font-family: Roboto;
}

.portal-container form input.text-input, .portal-container form textarea.text-input {
  width: 100%;
}

.portal-container form label:not(.image-upload) {
  font-size: 1.5rem;
  font-weight: 500;
  vertical-align: middle;
}

.portal-dashboard-container img {
  height: 99vh;
}

.portal-menu-container img.portal-empty-image, .portal-orders-container img.portal-empty-image, .portal-promotions-container img.portal-empty-image {
  height: 18.5rem;
}

.portal-menu-container button, .portal-rewards-container button, .portal-settings-container button {
  display: inline-block;
  /* margin: 2rem 1rem; */
}

.portal-menu-item-form-container, .portal-menu-category-form-container, .portal-rewards-form-container {
  text-align: left;
  padding: 0rem 5rem;
}

.portal-menu-item-form-container span.subheading, .portal-menu-category-form-container span.subheading, .portal-rewards-form-container span.subheading {
  margin-top: 2rem;
}

.portal-menu-item-form, .portal-rewards-form {
    padding: 0rem 1rem 7rem 0.1rem;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column-gap: 5rem;
    grid-template-areas: "type type"
                         "name price"
                         "description description"
                         "tags image"
                         "toppings toppings";
    height: 65vh;
    overflow-y: scroll;
}
.portal-menu-item-form-submit-section button, .portal-rewards-form-submit-section button, #portal-settings-form-submit-section button {
  margin: 3rem 0rem;
  max-width: 20rem;
}

.portal-menu-item-form-submit-section, .portal-rewards-form-submit-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.portal-menu-item-form-submit-section div:nth-of-type(2), .portal-rewards-form-submit-section div:nth-of-type(2) {
  text-align: right;
  padding-left: 25%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: right;
}