@font-face {
    font-family: "FatFrank";
    src: url("./assets/fonts/FatFrank/FatFrank-Regular.otf") format("opentype");
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
	box-sizing: border-box;
}

body {
    text-align: left;
    font-family: "Roboto", sans-serif;
}

.wrapper {
    background-color: #ffffff;
    color: #000000;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

header.primary {
    background-color: #007eff;
    color: #ffffff;
	width: 100%;
	margin: 0 auto;
	padding: 1rem;
    position: fixed;
    top: 0;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

header.primary nav {
	display: grid;
	grid-template-areas: 'heading nav-buttons';
}

header.primary span.heading {
	font-size: 1.5rem;
	margin: auto 0rem;
	grid-area: heading;
	justify-self: start;
}

header.primary span.heading img {
	height: 3rem;
}

header.primary a.nav-link {
	color: #fff;
}

a.nav-link {
	text-decoration: none;
}

.nav-buttons {
	margin: auto 0rem;
	list-style: none;
	grid-area: nav-buttons;
	justify-self: end;
}

.nav-buttons li {
	display: inline-block;
	margin: 0.5em 1.25em;
}

.nav-buttons li a.nav-link {
	color: #fff9fa;
    font-size: 1.75rem;
    font-weight: bold;
	-webkit-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

.nav-buttons li a.nav-link:hover {
	color: #ffffff;
	opacity: 1;
}

.portal-login-container {
    width: 100%;
    height: 100%;
}

.login-container {
    background-color: #007eff;
    color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
}

.login-panel {
    width: 100%;
    height: auto;
    margin: auto;
}

.login-container h1 {
    margin: 2rem;
    font-family: FatFrank;
    font-weight: lighter;
    font-size: 5rem;
}

.login-container span.login-message {
    border: 1px solid #b71c1c;
    border-radius: 5px;
    background-color: #ef9a9a;
    color: #b71c1c;
    width: 35rem;
    margin: auto;
    padding: 0.5rem;
    display: block;
}

.login-container span.login-message.success {
    border: 1px solid #1b5e20;
    background-color: #a5d6a7;
    color: #1b5e20;
}

.login-container label {
    font-size: 1.25rem;
    font-weight: bold;
    display: block;
    margin: 1rem 0rem 0.25rem 0rem;
}

.login-container input.text-input {
    outline: none;
    width: 35rem;
    height: 3rem;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.25rem;
}

.submit-button {
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #ffffff;
    color: #007eff;
    font-size: 1rem;
    font-weight: bold;
    width: 6rem;
    height: 3rem;
    display: block;
    margin: 1rem auto;
    cursor: pointer;
}

.portal-login-container .submit-button {
    margin-top: 2.5rem;
}

.portal-container {
    color: #8d8e8e;
    background: url("assets/images/toppings-print-white-gradient-transparent.PNG") no-repeat center;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    display: block;
    position: relative;
}

.portal-container nav {
    border-radius: 30px;
    background-color: #007eff;
    background: url("assets/images/toppings-print-blue-gradient.PNG") no-repeat center;
    background-size: cover;
    color: #ffffff;
    height: 100%;
    float: left;
    margin-left: -30px;
    padding: 30vh 1.75rem 1rem 0rem;
    text-align: left;
    z-index: 100;
}

.portal-container .portal-toppings-logo {
    height: 4.5rem;
    margin: 1rem 0rem 1rem 50px;
}

.portal-container ul.nav-buttons {
    padding: 0;
}

.portal-container ul.nav-buttons li {
    display: block;
    margin: 0;
}

.portal-nav-option {
    border-radius: 30px;
    border: 1px solid transparent;
    width: 101%;
    height: 2rem;
    display: block;
    margin: 1.25rem 0rem;
    padding: 0.25rem 1rem 0.25rem 5rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    vertical-align: middle;
}

.portal-nav-option.active {
    border: 1px solid #ffffff;
}

.portal-nav-option img {
    height: 1.25rem;
    margin-top: -2px;
    margin-right: 0.5rem;
    vertical-align: middle;
}

.portal-container ul.nav-buttons li a {
    text-decoration: none;
}

.portal-container ul.nav-buttons li:nth-of-type(1) img {
    height: 1.5rem;
}

.portal-container main {
    display: flex;
    text-align: center;
    align-items: center;
}

.portal-container article {
    width: 100%;
    padding: 0rem 4rem;
    padding-bottom: 0rem;
    text-align: center;
}

.portal-container main {
    display: flex;
    align-items: center;
    height: 100%;
}

.portal-container input.text-input, .portal-container textarea.text-input {
    outline: none;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 1px 4px #979797;
    color: #979797;
    padding: 0.5rem 0.875rem;
    resize: none;
    font-family: Roboto;
}

.portal-container form input.text-input, .portal-container form textarea.text-input {
    width: 100%;
}

.portal-container form label:not(.image-upload) {
    font-size: 1.5rem;
    font-weight: 500;
    vertical-align: middle;
}

.portal-terms-container .terms-of-service-container {
    border: 2px solid #e1e1e1;
    border-radius: 20px;
    width: 95%;
    height: 60vh;
    margin: 1rem auto;
    padding: 1rem;
    overflow-y: scroll;
}

.portal-terms-container button, .portal-promotions-container button {
    margin: 3rem auto;
}

.portal-menu-container img {
    height: 18.5rem;
}

.portal-menu-container button {
    display: inline-block;
    margin: 2rem 1rem;
}

.portal-menu-item-form-container, .portal-menu-category-form-container {
    text-align: left;
    padding: 0rem 5rem;
}

.portal-menu-item-form-container span.subheading, .portal-menu-category-form-container span.subheading {
    margin-top: 2rem;
}

.portal-menu-item-form {
    padding: 0rem 1rem 7rem 0.1rem;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column-gap: 5rem;
    grid-template-areas: "type type"
                         "name price"
                         "description description"
                         "tags image"
                         "toppings toppings";
    height: 65vh;
    overflow-y: scroll;
}

.portal-menu-item-form-type-section {
    grid-area: type;
}

.potal-menu-item-form-name-section {
    grid-area: name;
}

.portal-menu-item-form-price-section {
    grid-area: price;
    display: grid;
    grid-template-columns: 1fr 20fr;
    grid-template-areas: "heading heading"
                         "label input";
}

.portal-menu-item-form-price-section span.subheading {
    grid-area: heading;
}

.portal-menu-item-form-price-section label {
    grid-area: label;
}

#menu-item-price-input {
    width: 100%;
    grid-area: input;
}

.portal-menu-item-form-description-section {
    grid-area: description;
}

.portal-menu-item-form-tags-section {
    grid-area: tags;
}

.portal-menu-item-form-image-section {
    grid-area: image;
}

.portal-menu-item-form-toppings-section {
    grid-area: toppings;
    display: flex;
    gap: 2rem;
}

.portal-menu-item-form-toppings-container img {
    height: 1rem;
    margin: 0rem 0.25rem;
    cursor: pointer;
}

.portal-menu-item-form-toppings-container {
    display: inline-block;
    flex-grow: 1;
}

.portal-menu-item-form-toppings-options-container span.subheading {
    font-size: 1.375rem;
    margin-bottom: 0rem;
}

.portal-menu-item-form-toppings-options-container input.text-input {
    margin: 0.75rem 0rem;
    display: block;
}

.portal-menu-item-form-toppings-options-container button.blue-text {
    margin: 0.75rem 0rem;
    padding: 0rem;
    display: block;
}

.portal-menu-item-form-toppings-options-container button.blue-text span {
    font-size: 1.25rem;
    vertical-align: middle;
    font-weight: 700;
}

.portal-menu-item-form-submit-section {
    /* grid-area: submit; */
    text-align: right;
}

.portal-menu-item-form-submit-section button {
    margin: 3rem 0rem;
}

.portal-menu-list-container {
    text-align: left;
}

.portal-menu-list-container .blue-heading {
    color: #0082ff;
    font-size: 1.8rem;
    font-weight: 700;
    display: block;
}

.portal-menu-list-container .menu-item-container {
    margin: 0.5rem;
    margin-left: -1rem;
    padding: 0rem 1rem 0.5rem 1rem;
    display: grid;
    grid-template-columns: 5fr 1fr;
    cursor: pointer;
}

.portal-menu-list-container .menu-item-container.active {
    border-radius: 20px;
    background-color: #0082ff;
    color: #ffffff;
}

.portal-menu-list-container .menu-item-container span.subheading:nth-of-type(2) {
    text-align: right;
}

.portal-menu-list-container div.content {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column-gap: 5rem;
}

.portal-menu-view {
    display: flex;
    align-items: center;
}

.portal-promotions-container img {
    height: 18.5rem;
}

article span.orange-heading {
    color: #ff5200;
    font-size: 2.5em;
    font-weight: bold;
    margin: 0.5rem 0rem;
    display: block;
}

article span.heading {
    font-size: 2rem;
    font-weight: bold;
    margin: 0.5rem 0rem;
    display: block;
}

article span.subheading {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.5rem 0rem;
    display: block;
}

div.content {
    font-weight: 400;
}

a {
    color: #ffffff;
}

input.image-input {
    /* opacity: 0; */
    outline: none;
    position: relative;
    left: 0;
    top: 0rem;
}

label.image-upload {
    border: none;
    border-radius: 30px;
    outline: none;
    background-color: #0082ff;
    color: #ffffff;
    width: 14rem;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 3rem;
    display: block;
    cursor: pointer;
}

button {
    border: none;
    border-radius: 30px;
    outline: none;
    background-color: #0082ff;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 3rem;
    display: block;
    cursor: pointer;
}

button.orange {
    background-color: #ff5200;
}

button.orange-text {
    background-color: transparent;
    color: #ff5200;
    padding: 0.5rem 2rem;
}

button.blue-text {
    background-color: transparent;
    color: #0082ff;
    padding: 0.5rem 2rem;
}

button.image-upload {
    margin: 0;
}

.radio-button .radio-button-option {
    box-shadow: 0px 1px 4px rgba(0, 10, 102, 0.46);
    border: none;
    border-radius: 30px;
    outline: none;
    background-color: #ffffff;
    color: #979797;
    min-width: 11rem;
    margin-right: -2rem;
    padding: 0.5rem 3rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.radio-button .radio-button-option.active {
    border-radius: 30px;
    border-bottom: 1px solid #0082ff;
    background-color: #0082ff;
    color: #ffffff;
    z-index: 10;
}