@font-face {
    font-family: "FatFrank";
    src: url("./assets/fonts/FatFrank/FatFrank-Regular.otf") format("opentype");
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
	box-sizing: border-box;
}

body {
    text-align: left;
    font-family: "Roboto", sans-serif;
}

.wrapper {
    background-color: #ffffff;
    color: #000000;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

header.primary {
    background-color: #007eff;
    color: #ffffff;
	width: 100%;
	margin: 0 auto;
	padding: 1rem;
    position: fixed;
    top: 0;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

header.primary nav {
	display: grid;
	grid-template-areas: 'heading nav-buttons';
}

header.primary span.heading {
	font-size: 1.5rem;
	margin: auto 0rem;
	grid-area: heading;
	justify-self: start;
}

header.primary span.heading img {
	height: 3rem;
}

header.primary a.nav-link {
	color: #fff;
}

a.nav-link {
	text-decoration: none;
}

.nav-buttons {
	margin: auto 0rem;
	list-style: none;
	grid-area: nav-buttons;
	justify-self: end;
}

.nav-buttons li {
	display: inline-block;
	margin: 0.5em 1.25em;
}

.nav-buttons li a.nav-link {
	color: #fff9fa;
    font-size: 1.75rem;
    font-weight: bold;
	-webkit-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

.nav-buttons li a.nav-link:hover {
	color: #ffffff;
	opacity: 1;
}

.portal-login-container {
    width: 100%;
    height: 100%;
}

.login-container {
    background-color: #007eff;
    color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
}

.login-panel {
    width: 100%;
    height: auto;
    margin: auto;
}

.login-container h1 {
    margin: 2rem;
    font-family: FatFrank;
    font-weight: lighter;
    font-size: 5rem;
}

.login-container span.login-message {
    border: 1px solid #b71c1c;
    border-radius: 5px;
    background-color: #ef9a9a;
    color: #b71c1c;
    width: 35rem;
    margin: auto;
    padding: 0.5rem;
    display: block;
}

.login-container span.login-message.success {
    border: 1px solid #1b5e20;
    background-color: #a5d6a7;
    color: #1b5e20;
}

.login-container label {
    font-size: 1.25rem;
    font-weight: bold;
    display: block;
    margin: 1rem 0rem 0.25rem 0rem;
}

.login-container input.text-input {
    outline: none;
    width: 35rem;
    height: 3rem;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.25rem;
}

.submit-button {
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #ffffff;
    color: #007eff;
    font-size: 1rem;
    font-weight: bold;
    width: 6rem;
    height: 3rem;
    display: block;
    margin: 1rem auto;
    cursor: pointer;
}

.portal-login-container .submit-button {
    margin-top: 2.5rem;
}

.portal-container {
    color: #8d8e8e;
    background: url("assets/images/toppings-print-white-gradient-transparent.PNG") no-repeat center;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    display: block;
    position: relative;
}

.portal-container nav {
    border-radius: 30px;
    background-color: #007eff;
    background: url("assets/images/toppings-print-blue-gradient.PNG") no-repeat center;
    background-size: cover;
    color: #ffffff;
    height: 100%;
    float: left;
    margin-left: -30px;
    padding: 30vh 1.75rem 1rem 0rem;
    text-align: left;
    z-index: 100;
}

.portal-container .portal-toppings-logo {
    height: 4.5rem;
    margin: 1rem 0rem 1rem 50px;
}

.portal-container ul.nav-buttons {
    padding: 0;
}

.portal-container ul.nav-buttons li {
    display: block;
    margin: 0;
}

.portal-nav-option {
    border-radius: 30px;
    border: 1px solid transparent;
    width: 101%;
    height: 2rem;
    display: block;
    margin: 1.25rem 0rem;
    padding: 0.25rem 1rem 0.25rem 5rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    vertical-align: middle;
}

.portal-nav-option.active {
    border: 1px solid #ffffff;
}

.portal-nav-option img {
    height: 1.25rem;
    margin-top: -2px;
    margin-right: 0.5rem;
    vertical-align: middle;
}

.portal-container ul.nav-buttons li a {
    text-decoration: none;
}

.portal-container ul.nav-buttons li:nth-of-type(1) img {
    height: 1.5rem;
}

.portal-container main {
    display: flex;
    text-align: center;
    align-items: center;
}

.portal-container article {
    width: 100%;
    padding: 0rem 4rem;
    padding-bottom: 0rem;
    text-align: center;
}

.portal-container main {
    display: flex;
    align-items: center;
    height: 100%;
}

.portal-container input.text-input, .portal-container textarea.text-input {
    outline: none;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 1px 4px #979797;
    color: #979797;
    padding: 0.5rem 0.875rem;
    resize: none;
    font-family: Roboto;
}

.portal-container form input.text-input, .portal-container form textarea.text-input {
    width: 100%;
}

.portal-container form label:not(.image-upload) {
    font-size: 1.5rem;
    font-weight: 500;
    vertical-align: middle;
}

.portal-dashboard-container img {
    height: 99vh;
}

.portal-orders-subcontainer {
    height: 100vh;
    margin: 0rem -4rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
} 

.orders-list {
    border-right: 5px solid #e6e6e6;
    text-align: left;
}

.orders-list header {
    border-bottom: 5px solid #f2f2f2;
    height: 7.5rem;
    padding: 1.25rem;
}

.orders-list header button.tag {
    padding: 0.5rem 2rem;
}

.orders-list .order-category {
    background-color: #f2f2f2;
    color: #8d8e8e;
    width: 100%;
    display: block;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.orders-list .order-container {
    border-bottom: 1px solid #e1e1e1;
    background-color: #ffffff;
    color: #979797;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.75rem 2rem;
    font-size: 1.125rem;
    font-weight: 500;
    cursor: pointer;
}

.orders-list .order-container.active {
    background-color: #979797;
    color: #ffffff;
}

.orders-list .order-container span:nth-of-type(2) {
    text-align: right;
}

.orders-list .order-container button {
    display: inline-block;
    padding: 0.25rem 1rem;
}

.orders-list .order-container.active button {
    background-color: #cdcdcd;
    color: #979797;
}

.orders-list .empty-order-container {
    border-bottom: 1px solid #e1e1e1;
    background-color: #ffffff;
    color: #cdcdcd;
    width: 100%;
    padding: 0.75rem 0rem 0.75rem 2rem;
    font-size: 1.125rem;
}

.portal-orders-info header {
    border-bottom: 5px solid #e6e6e6;
    height: 7.5rem;
    padding: 1.4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portal-orders-info header span.blue-subheading {
    color: #0082ff;
}

.order-details {
    height: 85vh;
    padding: 2rem 6rem;
    text-align: left;
    overflow-y: scroll;
}

.order-details .order-delivery-time button {
    margin: 0rem 1rem;
}

.order-details .order-delivery-time span.blue-subheading {
    color: #0082ff;
    font-size: 1.5rem;
    font-weight: 500;
}

.order-details .order-item, .order-details .order-tax-tip, .order-details .order-total {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 0rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.order-details .order-item-price {
    text-align: right;
}

.order-details .order-total {
    color: #ff5200;
}

.order-details .order-instructions {
    margin: 2rem 0rem;
}

.order-details button {
    margin: 1rem 3rem;
    display: inline-block;
}

.order-details hr {
    border: none;
    background-color: #e1e1e1;
    height: 1px;
    margin-left: 0rem;
}

hr.short {
    width: 5.25rem;
}

.portal-terms-container .terms-of-service-container {
    border: 2px solid #e1e1e1;
    border-radius: 20px;
    width: 95%;
    height: 60vh;
    text-align: left;
    margin: 1rem auto;
    padding: 1rem 2rem;
    overflow-y: scroll;
}

.portal-terms-container button, .portal-promotions-container button {
    margin: 3rem auto;
}

.portal-menu-container img.portal-empty-image, .portal-orders-container img.portal-empty-image, .portal-promotions-container img.portal-empty-image {
    height: 18.5rem;
}

.portal-menu-container button, .portal-rewards-container button, .portal-settings-container button {
    display: inline-block;
    margin: 2rem 1rem;
}

.portal-menu-item-form-container, .portal-menu-category-form-container, .portal-rewards-form-container {
    text-align: left;
    padding: 0rem 5rem;
}

.portal-menu-item-form-container span.subheading, .portal-menu-category-form-container span.subheading, .portal-rewards-form-container span.subheading {
    margin-top: 2rem;
}

.portal-menu-item-form, .portal-rewards-form {
    padding: 0rem 1rem 7rem 0.1rem;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column-gap: 5rem;
    grid-template-areas: "type type"
                         "name price"
                         "description description"
                         "tags image"
                         "toppings toppings";
    height: 65vh;
    overflow-y: scroll;
}

.portal-menu-item-form-type-section {
    grid-area: type;
}

.potal-menu-item-form-name-section {
    grid-area: name;
}

.portal-menu-item-form-price-section {
    grid-area: price;
    display: grid;
    grid-template-columns: 1fr 20fr;
    grid-template-areas: "heading heading"
                         "label input";
}

.portal-menu-item-form-price-section span.subheading {
    grid-area: heading;
}

.portal-menu-item-form-price-section label {
    grid-area: label;
}

#menu-item-price-input {
    width: 100%;
    grid-area: input;
}

.portal-menu-item-form-description-section {
    grid-area: description;
}

.portal-menu-item-form-tags-section {
    grid-area: tags;
}

.portal-menu-item-form-image-section {
    grid-area: image;
}

.portal-menu-item-form-toppings-section {
    grid-area: toppings;
    display: flex;
    gap: 2rem;
}

.portal-menu-item-form-toppings-container img {
    height: 1rem;
    margin: 0rem 0.25rem;
    cursor: pointer;
}

.portal-menu-item-form-toppings-container {
    display: inline-block;
    flex-grow: 1;
}

.portal-menu-item-form-toppings-options-container span.subheading {
    font-size: 1.375rem;
    margin-bottom: 0rem;
}

.portal-menu-item-form-toppings-options-container div {
    display: block;
}

.portal-menu-item-form-toppings-options-container div button.red-x {
    display: inline-block;
    margin-right: 1rem;
}

.portal-menu-item-form-toppings-options-container div button.red-x img {
    vertical-align: bottom;
}

.portal-menu-item-form-toppings-options-container div input.text-input {
    margin: 0.75rem 0rem;
    display: inline-block;
    /* width: 90%; */
}

.portal-menu-item-form-toppings-options-container button.blue-text {
    margin: 0.75rem 0rem;
    padding: 0rem;
    display: block;
}

.portal-menu-item-form-toppings-options-container button.blue-text span {
    font-size: 1.25rem;
    vertical-align: middle;
    font-weight: 700;
}

#add-category-button {
    text-align: left;
}

#vendor-info-button-section, #portal-settings-form-submit-section {
    /* grid-area: submit; */
    text-align: right;
}

.portal-menu-item-form-submit-section button, .portal-rewards-form-submit-section button, #portal-settings-form-submit-section button {
    margin: 3rem 0rem;
}

.portal-menu-item-form-submit-section, .portal-rewards-form-submit-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.portal-menu-item-form-submit-section div:nth-of-type(2), .portal-rewards-form-submit-section div:nth-of-type(2) {
    text-align: right;
    padding-left: 25%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: right;
}

.portal-category-form-container {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #979797;
    border-radius: 30px;
    background-color: #ffffff;
    position: absolute;
    top: 40%;
    left: 30%;
    padding: 1rem 3rem 2rem 3rem;
}

.portal-category-form {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 2fr 1fr;
}

.portal-category-form input, .portal-category-form button {
    margin: 0.25rem 0rem;
}

.portal-category-form-container button.close {
    position: absolute;
    top: 0.5rem;
    left: 1.25rem;
    font-size: 1rem;
    font-weight: 700;
}

.portal-menu-list-container, .portal-rewards-list-container {
    text-align: left;
}

.portal-menu-list-container .blue-heading, .portal-rewards-list-container .blue-heading {
    color: #0082ff;
    font-size: 1.8rem;
    font-weight: 700;
    display: block;
    padding-right: 1rem;
}

.portal-menu-list-container .blue-heading {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.portal-menu-list-container .blue-heading span:nth-of-type(2) {
    text-align: right;
}

.portal-menu-list-container .menu-item-container, .portal-rewards-list-container .reward-container {
    margin: 0.5rem;
    margin-left: -1rem;
    padding: 0rem 1rem 0.5rem 1rem;
    display: grid;
    grid-template-columns: 5fr 2fr;
    cursor: pointer;
}

.portal-menu-list-container .menu-item-container.active, .portal-rewards-list-container .reward-container.active {
    border-radius: 20px;
    background-color: #0082ff;
    color: #ffffff;
}

.portal-menu-list-container .menu-item-container span.subheading:nth-of-type(2), .portal-rewards-list-container .reward-container span.subheading:nth-of-type(2) {
    text-align: right;
}

.portal-menu-list-container div.content, .portal-rewards-list-container div.content {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column-gap: 5rem;
}

.portal-menu-list, .portal-rewards-list {
    height: 30rem;
    padding-left: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.portal-menu-view, .portal-rewards-view {
    display: flex;
    align-items: center;
}

.portal-menu-view-buttons, .portal-rewards-view-buttons {
    text-align: center;
}

.portal-menu-view button, .portal-rewards-view button {
    margin-left : 0rem;
}

.portal-rewards-form {
    height: auto;
    padding-bottom: 0rem;
    grid-template-columns: 3fr 2fr;
    grid-template-areas: "name points"
                         "description description";
    overflow-y: hidden;
}

.portal-rewards-form-name-section {
    grid-area: name;
}

.portal-rewards-form-points-section {
    grid-area: points;
}

.portal-rewards-form-description-section {
    grid-area: description;
}

.portal-vendor-info-container {
    text-align: left;
}

.portal-vendor-info-container button.tag {
    margin-right: 1rem;
}

.vendor-info-sections-container {
    padding: 3rem 0rem;
    display: grid;
    grid-gap: 2rem 10rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "location hours"
                         "contact hours"
                         "none button";
}

.vendor-info-section {
    display: grid;
    grid-template-columns: 3rem 6fr;
}

.vendor-info-section img {
    margin: 0.5rem 0rem;
}

#vendor-location-info-section {
    grid-area: location;
}

#vendor-contact-info-section {
    grid-area: contact;
}

#vendor-contact-info, #vendor-hours-info div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#vendor-contact-info span:nth-of-type(even), #vendor-hours-info div span:nth-of-type(even) {
    text-align: right;
}

#vendor-hours-info-section {
    grid-area: hours;
}

#vendor-info-button-section button {
    grid-area: button;
}

.portal-settings-form-container {
    max-height: 95vh;
    padding-left: 2px;
    padding-right: 3rem;
    text-align: left;
    overflow-y: scroll;
}

.portal-vendor-info-form {
    display: grid;
    grid-gap: 1rem 3rem;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: "name hours"
                         "tags hours"
                         "description hours"
                         "address phone"
                         "contact email";
}

#portal-settings-form-name-section {
    grid-area: name;
}

#portal-settings-form-tags-section {
    grid-area: tags;
}

#portal-settings-form-description-section {
    grid-area: description;
}

#portal-settings-form-hours-section {
    grid-area: hours;
}

#portal-settings-form-hours-section div {
    color: #afb0b1;
    margin: 1rem 0rem;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

#portal-settings-form-hours-section div span {
    color: #8d8e8e;
    font-size: 1.5rem;
    font-weight: 400;
    display: inline-block;
}

#portal-settings-form-hours-section div span:nth-of-type(2) {
    text-align: right;
}

#portal-settings-form-hours-section input.number-input {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    outline: none;
    border: none;
    color: #979797;
    width: 1.5rem;
    height: 2.375rem;
    margin: 0rem 0.25rem;
    padding: 0rem 0.25rem;
    font-family: Roboto;
    font-size: 1.25rem;
}

#portal-settings-form-hours-section .am-pm-radio {
    margin: 0rem 0.25rem;
    display: inline-block;
    vertical-align: middle;
}

#portal-settings-form-hours-section span.hyphen {
    margin: 0rem 1rem;
}

#portal-settings-form-hours-section .am-pm-radio-option {
    color: #cdcdcd;
    font-size: 1rem;
    display: block;
    cursor: pointer;
    font-weight: 900;
}

#portal-settings-form-hours-section .am-pm-radio-option.active {
    color: #0082ff;
}

#portal-settings-form-address-section {
    grid-area: address;
}

#portal-settings-form-phone-section {
    grid-area: phone;
}

#portal-settings-form-contact-section {
    grid-area: contact;
}

#portal-settings-form-email-section {
    grid-area: email;
}

#portal-settings-form-submit-section button.orange-text {
    margin: 3rem 2rem;
}

article span.orange-heading {
    color: #ff5200;
    font-size: 2.5em;
    font-weight: bold;
    margin: 0.5rem 0rem;
    display: block;
}

article span.orange-subheading {
    color: #ff5200;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5rem 0rem;
    display: block;
}

article span.heading {
    font-size: 2rem;
    font-weight: bold;
    margin: 0.5rem 0rem;
    display: block;
}

article span.subheading {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.5rem 0rem;
    display: block;
}

article span.caption {
    font-size: 1.375rem;
    font-weight: 400;
    margin: 1.5rem 0rem;
    display: block;
}

div.content {
    font-weight: 400;
}

a {
    color: #ffffff;
}

input.image-input {
    /* opacity: 0; */
    outline: none;
    position: relative;
    left: 0;
    top: 0rem;
}

label.image-upload {
    border: none;
    border-radius: 30px;
    outline: none;
    background-color: #0082ff;
    color: #ffffff;
    width: 14rem;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 3rem;
    display: block;
    cursor: pointer;
}

button {
    border: none;
    border-radius: 30px;
    outline: none;
    background-color: #0082ff;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 3rem;
    display: block;
    cursor: pointer;
}

button img {
    height: 0.7rem;
}

button.orange {
    background-color: #ff5200;
}

button.gray {
    background-color: #cdcdcd;
    color: #ffffff;
}

button.orange-text {
    background-color: transparent;
    color: #ff5200;
    padding: 0.5rem 0rem;
}

button.blue-text {
    background-color: transparent;
    color: #0082ff;
    padding: 0.5rem 0rem;
}

button.red-text {
    background-color: transparent;
    color: #ff004c;
    padding: 0.5rem 0rem;
}

button.tag {
    background-color: #ff5200;
    display: inline-block;
    cursor: default;
}

button.image-upload {
    margin: 0;
}

button.blue-plus {
    background-color: transparent;
    width: 1rem;
    height: 1rem;
    margin: 0rem;
    padding: 0rem;
}

button.blue-plus img {
    height: 1.5rem;
}

button.red-x {
    background-color: transparent;
    width: 1rem;
    height: 1.5rem;
    margin: 0rem;
    padding: 0rem;
}

button.red-x img {
    height: 1rem;
}

button.close {
    background-color: transparent;
    color: #8d8e8e;
    margin: 0rem;
    padding: 0rem;
}

.radio-button .radio-button-option {
    box-shadow: 0px 1px 4px rgba(0, 10, 102, 0.46);
    border: none;
    border-radius: 30px;
    outline: none;
    background-color: #ffffff;
    color: #979797;
    min-width: 11rem;
    margin-right: -2rem;
    padding: 0.5rem 3rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.radio-button .radio-button-option.active {
    border-radius: 30px;
    border-bottom: 1px solid #0082ff;
    background-color: #0082ff;
    color: #ffffff;
    z-index: 10;
}